.secnav{
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #F6F6C9  #F6F6C9 gray #F6F6C9 ;
}
.secnav h1{
    margin-left: 75px;
    color:#4FA095;
    /* color:#BAD1C2; */
    font-size: 25px;
}
.secnav p{
    margin-left:10px;

}
.check{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.check p{
    display: flex;
}

.check p:hover{
    color: red;
}