.dashboard {
    background-color: #F6F6C9;
    padding: 20px;

    .top {
        display: flex;
        justify-content: center;
        p {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .mid {
        display: flex;
        justify-content: center;


        .left {
            background-color: #153462;
            display: flex;
            flex-direction: column;
            padding: 15px;
            height: 20%;
            width: 15%;
            border-radius: 10px;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;


            button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                color: #fff
            }

            button:hover {
                color: #BCEAD5;
            }

            span {
                background-color:rgb(249, 67, 67);
                padding: 5px;
                border-radius: 5px;
            }
        }

        .profiles{
            display: flex;
            flex-direction: column;
        }

        .profile {
            background-color: aliceblue;
            padding: 5px;
            border: 1px solid #000;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px #000;
        }

        .first {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .second {
            padding: 20px;


            #name {
                cursor: pointer;
                border: none;
                background-color: transparent;
            }

            #name:hover {
                color: red;
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .buttons button {
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .buttons button:hover {
                background-color: #29f797;
                color: rgb(250, 83, 83);
                border-radius: 5px;
            }

            #popup {
                background-color: #fff;
                border: 2px solid rgb(177, 165, 165);
                padding: 10px;
                border-radius: 10px;


                form button {
                    background-color: transparent;
                    border: none;
                }
            }
        }

        .third {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}